html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #addaf9;
}

@media (color-gamut: p3) {
    html,
    body {
        background: oklch(86.62% 0.064 239);
    }
}

form #progress {
    display: none;
}

form #progress.loading {
    display: block;
}

.container {
    display: flex;
    min-width: 100dvw;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul,
li {
    list-style: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
